<% if !flash.empty? %>
    <div class="flash_container">
        <% flash.each do |type, msg| %>
            <div class="<%= flash_class_helper(type)%> flash_panel">
                <strong><%= flash_prefix_helper(type) %></strong>&nbsp;
                <span><%= msg %></span>
            </div>
        <% end %>
    </div>
<% end %>