<footer>

  <div class="footer_brand">
      <%= link_to root_path, class: "footer_logo" do %>
        Photosynthèse<span> | blog</span>
      <%end %>
  </div>

  <div class="footer_copyrights">
    <a href="https://www.behance.net/gallery/14554909/liFEsTlye-Mobile-version" class="copy_r">
      Privacy Policy
    </a>
    <a href="https://en.wikipedia.org/wiki/Copyright" class="copy_r">
      Copyright	&copy;2020
    </a>
    <span>|</span>
    <span>Made with</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg>
    <span>by</span>
    <a href="https://www.linkedin.com/in/houda-cherkaoui-64106395/" class="developer">
      Houda Cherkaoui
    </a>
  </div>

  <div class="footer_socialmedia">
    <span>Connect with us:</span>
    <a href="https://github.com/CalyCherkaoui">
      <i class="fab fa-github"></i>
    </a>

    <a href="https://www.facebook.com/houdacherkaouicalypso/">
      <i class="fab fa-facebook"></i>
    </a>
    
    <a href="https://twitter.com/Houda59579688">
      <i class="fab fa-pinterest"></i>
    </a>
  </div>

</footer>