@import 'settings.scss';

.sign_in_up {
  height: calc(100vh - var(--nav_height_desk) - var(--footer_height_desktop));
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_form_wrapper {
  min-height: 95%;
  min-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: [row1-start] 10% [row1-end row2-start] 90% [row2-end];
  grid-template-areas:
    "cover form_header"
    "cover form";
  border-radius: 20px;
  column-gap: 1rem;
}

.cover_deco_auth {
  grid-area: cover;
  position: relative;

  img {
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
}

.form_header {
  grid-area: form_header;
  background-color: $my_white;
  background-image: url(/assets/patern.png);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font_bold;

  h1 {
    font-size: 2.5rem;
    color: $color_logo_second;
  }
}

.auth_form {
  background-color: $my_white;
  background-image: url(/assets/patern.png);
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_container {
  height: 85%;
  width: 85%;
  display: flex;
  padding-left: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  .field,
  .action {
    margin-bottom: 1rem;
    width: 100%;
    font-family: $font_small;
    color: $my_dark;

    label {
      font-size: 0.9rem;
      font-weight: 600;
      color: $color_logo_main;
    }

    em {
      font-size: 0.7rem;
      color: $classic-blue;
    }
  }

  .field {
    input {
      height: 1.5rem;
      width: 100%;
      padding-left: 0.5rem;
      background-color: $my_white;
      border: none;
      border-left: 1px solid $dark_blue;
    }
  }

  .actions {
    input {
      width: 100%;
      height: 2rem;
      border: 1px solid $classic-blue;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: 600;
      color: $classic-blue;
      background-color: $light-blue;

      &:hover {
        cursor: pointer;
        background-color: $classic-blue;
        color: $my_white;
      }
    }
  }
}

.links {
  margin-top: 1rem;
  font-size: 0.7rem;

  a {
    text-decoration: none;
    margin-bottom: 0.6rem;

    &:hover {
      text-decoration: underline;
      transition: ease 2s;
    }
  }
}
