@import 'settings.scss';

/* Author-user profile */

.dashboard {
  background-color: $color_bg_main;
  min-height: calc(100vh - var(--nav_height_desk) - var(--footer_height_desktop));
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "navigator displayer";
}

.dashboard_navigator {
  grid-area: navigator;
}

.dashboard_displayer {
  grid-area: displayer;
}