@import 'settings.scss';

/* Author-user profile */

.dashboard {
  background-color: $color_bg_main;
  min-height: calc(100vh - var(--nav_height_desk) - var(--footer_height_desktop));
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  grid-template-areas: "navigator displayer";
}

.dashboard_navigator {
  grid-area: navigator;
  background-color: white;
  background-image: url(/assets/patern.png);
}

.dashbord_header {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;

  p {
    color: $color_logo_main;
    font-family: $font_logo_main;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.dashboard_tool_box {
  width: 100%;
  margin-top: 0.4rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;

  a {
    margin-top: 0.3rem;
  }
}

.tool_box_link {
  text-decoration: none;
  padding: 0.6rem;
  background-color: $my_white;
  font-family: $font_bold;
  font-size: 1rem;
  font-weight: 600;
  color: $dark_blue;
  border: 2px solid $classic-blue;
  border-radius: 2px;
  text-align: center;

  &:hover {
    color: $my_white;
    background-color: $classic-blue;
  }
}

.dashboard_stats_header {
  font-size: 1rem;
  font-family: $font_bold;
  font-weight: 600;
  color: $tangerine;
  margin-bottom: 0.6rem;
}

.dashboard_stats_data {
  font-size: 0.8rem;
  font-family: $font_bold;
  font-weight: 500;
  color: $dark_blue;

  span {
    margin-right: 0.5rem;
    font-weight: 600 !important;
    font-size: 1rem !important;
    color: $tangerine;
  }
}

.dashboard_displayer {
  grid-area: displayer;
}

.dashboard_displayer_heros {
  padding: 2rem;
  background-color: transparent;
  border: 2px solid $color_home_hero_title;
}

// .dashboard_displayer_heros_table {
//   border-collapse: collapse;
// }

.dashboard_displayer_heros_type {
  font-size: 1rem;
  font-family: $font_nav;
  letter-spacing: 0.938px;
  line-height: 23px;
  font-weight: 550;
  color: $color_home_hero_title;
  text-transform: uppercase;
  padding: 0.5rem;
}

.dashboard_displayer_heros_link {
  padding: 0.5rem;

  a {
    font-weight: 600;
    font-family: $font_logo_main;
    text-decoration: none;
    color: $light-blue;
  }
}

.dashbord_displayer_collection {
  margin-top: 0.5rem;
}

.dashbord_displayer_collection_header {
  background-color: transparent;
  font-size: 1rem;
  font-family: $font_bold;
  line-height: 23px;
  text-transform: uppercase;
  color: $my_white;
  font-weight: 800;
  margin-bottom: 0.5rem;
  margin-top: 1rem;

  p {
    width: 25%;
    padding-bottom: 0.9rem;
    border-bottom: 4px solid $color_logo_second;
  }
}

.dashbord_displayer_collection_articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashbord_displayer_article_card {
  background-color: white;
  background-image: url(/assets/patern.png);
  width: 49.6%;
  min-width: 20rem;
  min-height: 23rem;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 75% 25%;
  grid-template-areas:
    "imag info"
    "tools info";
}

.card_image {
  grid-area: imag;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-color: violet;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    overflow: hidden;
  }
}

.card_info {
  grid-area: info;
  padding: 0.5rem;
  // background-color: lightcoral;
}

.card_info_text {
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px dashed $light-blue;
}

.card_info_table {
  td {
    padding: 0 0.5rem;

    svg {
      color: $tangerine;
      margin-left: 0.5rem;
    }

    span {
      font-size: 1.5rem;
    }
  }

  .card_table_title {
    color: $classic-blue;
    font-family: $font_logo_main;
  }
}

.card_tools {
  grid-area: tools;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  a {
    width: 48%;
  }
}

.card_info_title {
  margin-bottom: 0.3rem;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color_category_line;
    }
  }
}
